.Formulario{
    width: 900px;
    margin-top: 20px;
    margin-left: 170px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.Formulario h3{
    font-weight: bold;
}

.btn{
    
    margin-bottom: 20px
}

.FormularioFuncion{
    width: 900px;
    margin-top: 20px;
    margin-left: 170px;
    height: 480px;
    font-family: 'Montserrat', sans-serif;
}
